{% extends 'form_div_layout.html.twig' %}

{% block form_errors %}
    {% if errors|length > 0 -%}
        <ul class="error_list list-unstyled alert alert-danger">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif %}
{% endblock %}