{% extends 'AppBundle:Form:errors.html.twig' %}

{% block form_row %}
    {% spaceless %}
        {% set class='' %}
        {% if attr.class is defined %}
            {% set class = class ~ ' ' ~ attr.class %}
        {% endif %}
        <div {{ block('form_row_attributes') }} class="{{ class }}">
            {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
            {% if errors|length > 0 -%}
                <ul class="error_list list-unstyled alert alert-danger">
                    {%- for error in errors -%}
                        <li>{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            {%- endif %}
            {% if attr.size is defined %}
                {{ form_widget(form, { 'attr': {'class': 'form-control', 'size' : attr.size } }) }}
            {% else %}
                {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_row %}




