{% extends 'AppBundle:Form:errors.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div {{ block('form_row_attributes') }} class="col-md-3 col-sm-6">
            {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}