{% extends 'AppBundle:Form:errors.html.twig' %}

{% block form_row %}
    {% spaceless %}

        <div {{ block('form_row_attributes') }} class="col-md-2 col-sm-4">
            {{ form_label(form, null, {'label_attr': {'class': 'control'}}) }}
            {% set class='form-control' %}
            {% if attr.class is defined %}
                {% set class = class ~ ' ' ~ attr.class %}
            {% endif %}
            {{ form_widget(form, { 'attr': {'class': class } }) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}