
{% macro prototype(form_material, businessNumber, materialNumber) %}
    {% import "AppBundle:MaterialPart:bringing.html.twig" as part_prototype %}
    {% set partNumber = 0 %}

    <div id={{ 'form_bringing_materials_'~ businessNumber ~ '_materials' }} class='material'>
        {{ form_row(form_material.plastics) }}
        {{ form_row(form_material.specification) }}
        {{ form_row(form_material.specification_eng) }}
        {{ form_row(form_material.color) }}
        {{ form_row(form_material.color_eng) }}
        {{ form_row(form_material.currentForm) }}
        {{ form_row(form_material.finalForm) }}
        <div class="parts row">
        {{ form_label(form_material.parts) }}
        {{ form_errors(form_material.parts) }}
        <div id={{ "form_bringing_materials_" ~ businessNumber ~ "_materials_" ~ materialNumber ~ "_parts" }}
             data-prototype="{% filter escape %}{{ include('AppBundle:MaterialPart:bringing.html.twig', { 'form_part': form_material.parts.vars.prototype | e }) }}{% endfilter %}">
            {% for part in form_material.parts %}
                {{ part_prototype.prototype(part, businessNumber, materialNumber, partNumber) }}
                {% set partNumber = partNumber+1 %}
            {% endfor %}
        </div>
        </div>
        {% do form_material.parts.setRendered %}

    </div>

{% endmacro %}

{% block _materials_entry_widget %}
    {{ _self.prototype(form_material, 'business_name','material_name') }}
{% endblock %}