{% form_theme form with [ 'AppBundle:Form:part_form_row.html.twig'] %}


{{ form_row(form.id, { 'attr' : { 'readonly' : 'readonly' , 'class' : 'id'}}) }}
{{ form_row(form.plastics, { 'attr' : { 'readonly' : 'readonly', 'class' : 'plastics' }}) }}
{{ form_row(form.specification, { 'attr' : { 'readonly' : 'readonly', 'class' : 'specification' }}) }}
{{ form_row(form.color, { 'attr' : { 'readonly' : 'readonly', 'class' : 'color' }}) }}
{{ form_row(form.finalForm, { 'attr' : { 'disabled' : 'disabled', 'class' : 'finalForm' }}) }}
<input type="hidden" name="{{ name ~ '[' ~ form.vars.name ~ '][' ~ form.finalForm.vars.name ~ ']' }}" value="{{ form.vars.value.finalForm.title }}">
<div class="parts">
{{ form_label(form.parts) }}
{{ form_errors(form.parts) }}
    {% for form_part in form.parts %}
        <div class="part row">
            {{ form_errors(form_part) }}
            {{ form_row(form_part.id, { 'attr' : { 'readonly' : 'readonly', 'class' : 'id'}}) }}
            {{ form_row(form_part.number, { 'attr' : { 'readonly' : 'readonly' }}) }}
            {{ form_row(form_part.weightNetto, { 'attr' : { 'readonly' : 'readonly' }}) }}
            {{ form_row(form_part.weightBrutto, { 'attr' : { 'readonly' : 'readonly' }}) }}
            {{ form_row(form_part.currentForm, { 'attr' : { 'disabled' : 'disabled' }}) }}
            <input type="hidden" name="{{ name ~ '[' ~ form.vars.name ~ '][' ~ form.parts.vars.name ~ '][' ~ form_part.vars.name ~ '][' ~ form_part.currentForm.vars.name ~ ']' }}" value="{{ form_part.vars.value.currentForm.title }}">
            {{ form_row(form_part.wayOfStoring, { 'attr' : { 'disabled' : 'disabled' }}) }}
            <input type="hidden" name="{{ name ~ '[' ~ form.vars.name ~ '][' ~ form.parts.vars.name ~ '][' ~ form_part.vars.name ~ '][' ~ form_part.wayOfStoring.vars.name ~ ']' }}" value="{{ form_part.vars.value.wayOfStoring.title }}">
            {{ form_row(form_part.state) }}
            {{ form_row(form_part.note) }}
        </div>
    {% endfor %}
</div>

