{% extends 'AppBundle::base.html.twig' %}

{% block title %}Detail materiálu{% endblock %}

{% block body %}
    <h1>Materiál</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="list-inline">
            <li><a href="{{ path('material_update', { 'id' : material.id}) }}">Upravit</a></li>
        </ul>
    {% endif %}
    <table id="materials_table" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Plasty</th>
            <th>Specifikace</th>
            <th>Barva</th>
            <th>Současná provozovna</th>
            <th>Finální podona</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ material.id }}</td>
            <td>{{ material.plastics }}</td>
            <td>{{ material.specification }}</td>
            <td>{{ material.color }}</td>
            <td>{{ material.warehouse.name }}</td>
            <td>{{ material.finalForm.title }}</td>
        </tr>
        </tbody>
    </table>

    {% if material.parts.count != 0 %}
        {{ include('AppBundle:MaterialPart:show.html.twig', { 'parts': material.parts }) }}
    {% else %}
        <p>Material byl cely nahrazen</p>
    {% endif %}

    {% if material.businesses.count != 0 %}
        <div class="transport">
            <h2>Přeprava</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID přepravy</th>
                    <th>Datum přepravy</th>
                    <th>Odesílatel</th>
                    <th>Příjemce</th>
                    <th>Cena přepravy [Kč]</th>
                    <th>Nákupní cena [Kč]</th>
                </tr>
                </thead>
                <tbody>
                {% for business in material.businesses %}

                        <tr>
                            <td><a href="{{ path('transport_detail', { 'id' : business.transport.id}) }}">{{ business.transport.id }}</a></td>
                            <td>{{ business.transport.date | date(datetime)}}</td>
                            <td>{{ business.transport.from.name }}</td>
                            <td>{{ business.transport.to.name }}
                            <td>{{ business.transport.pricePerKg * weight }}</td>
                            <td>{{ business.materialPrice }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


    {% if processing %}
        <div clas="processing">
            <h2>Zpracování</h2>
            {% for process in processing %}
                <table class="table processing_table">
                <thead>
                    <tr>
                        <th>ID zpracování</th>
                        <th>Datum zpracování</th>
                        <th>Provozovna</th>
                        <th>Způsob zpracování</th>
                        <th>Zpracoval</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{{ path('processing_detail', { 'id' : process.id}) }}">{{ process.id }}</a></td>
                        <td>{{ process.date | date(datetime) }}</td>
                        <td>{{ process.warehouse.id}} - {{ process.warehouse.name}}</td>
                        <td>{{ process.wayOfProcessing.title }}</td>
                        <td>{{ process.processor.name }}</td>
                    </tr>

                    <tr>
                        <td colspan="5">
                        <p class="text-uppercase">Vstupy</p>
                        {{ include('AppBundle:Processing:input.html.twig', { 'parts' : process.inputs, 'materialId' : material.id}) }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                    <p class="text-uppercase">Výstupy</p>
                    {{ include('AppBundle:Processing:output.html.twig', { 'parts' : process.outputs, 'materialId' : material.id}) }}
                        </td>
                    </tr>
                </tbody>
                </table>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}