{% extends 'AppBundle::base.html.twig' %}
{% form_theme filter_form with ['AppBundle:Form:form_row.html.twig'] %}

{% block title %}Stav skladů{% endblock %}

{% block body %}
    <h1>Stav skladů</h1>
    {{ form_start(filter_form, {'attr': { 'class' : 'row'}}) }}
        {{ form_row(filter_form.warehouse) }}
    <div class="row">
        {{ form_row(filter_form.from, {'attr': { 'class' : 'col-md-3 col-sm-4', 'size' : '2'}}) }}
        {{ form_row(filter_form.to, {'attr': { 'class' : 'col-md-3 col-sm-4', 'size' : '2'}}) }}
    </div>
        {{ form_row(filter_form.currentForm) }}
        {{ form_row(filter_form.finalForm) }}
        {{ form_row(filter_form.currentForm) }}
        {{ form_row(filter_form.finalForm) }}
        {{ form_row(filter_form.wayOfStoring) }}
        {{ form_row(filter_form.state) }}
    <div class="row">
        {{ form_row(filter_form.plastics, {'attr': { 'class' : 'col-md-2 col-sm-3', 'size' : '2'}}) }}
        {{ form_row(filter_form.specification, {'attr': { 'class' : 'col-md-2 col-sm-3', 'size' : '2'}}) }}
        {{ form_row(filter_form.color, {'attr': { 'class' : 'col-md-2 col-sm-3', 'size' : '2'}}) }}
    </div>

    <div class="col-md-2 col-sm-4">
        {{ form_widget(filter_form.reset, { 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_widget(filter_form.show, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>
    {{ form_end(filter_form) }}


    <div>
        <table class="table table-striped" id="materials_table">
            {% if app.request.method == 'POST' %}
                <caption>Material</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Plasty</th>
                    <th>Specifikace</th>
                    <th>Barva</th>
                    <th>Finální podoba</th>
                    <th>Současná provozovna</th>
                    <th>Nákup od partnera</th>
                    <th>Nákupní cena [Kč]</th>
                    <th>Provozovna původu</th>
                    <th>Poslední cena [Kč]</th>
                    <th>Datum poslední přepravy</th>
                    <th>Prodej partnerovi</th>
                    <th>Prodejní cena [Kč]</th>
                </tr>
                </thead>
                <tbody>
                {% if materials %}
                    {% for material in materials %}
                        <tr>
                            <td><a href="{{ path("material_detail", { "id" : material.material.id}) }}">{{ material.material.id }}</a></td>
                            <td>{{ material.material.plastics }}</td>
                            <td>{{ material.material.specification }}</td>
                            <td>{{ material.material.color }}</td>
                            <td>{{ material.material.finalForm.title }}</td>
                            <td>{{ material.material.warehouse.id }} - {{ material.material.warehouse.name }}</td>
                            {% if material.transport.bringing_warehouse %}
                                <td>{{ material.transport.bringing_partner.name }}</td>
                                <td>{{ material.transport.bringing_prize }}</td>
                                <td>{{ material.transport.bringing_warehouse.name }}</td>
                                <td>{{ material.transport.last_transport_prize }} </td>
                                <td>{{ material.transport.last_transport_date | date(datetime) }}</td>
                            {% else %}
                                <td colspan="5">Materiál vznikl změnou jiných materiálů</td>
                            {% endif %}
                            {% if material.transport.transfer_partner %}
                                <td>{{ material.transport.transfer_partner.name }} </td>
                                <td>{{ material.transport.transfer_prize }}</td>
                            {% else %}
                                <td colspan="2">Materiál je stále na provozovně</td>
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="13">
                                {% if material.material.parts.count != 0 %}
                                    {{ include('AppBundle:MaterialPart:show.html.twig', { 'parts': material.material.parts }) }}
                                {% else %}
                                    <p>Materiál byl celý nahrazen</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% elseif filter_form.vars.valid %}
                    <tr>
                        <td colspan="13">Žádný materiál není k dispozici</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Chybná formulářová data</td>
                    </tr>
                {% endif %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}

{%  block javascript %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/material.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
