{% extends 'AppBundle:Material:state_base.html.twig' %}

{% block material %}
    {% if app.request.method == 'POST' %}
        <h1>Podoba: {{ form.vars.value.form.title }}</h1>
        {% if form.vars.value.warehouse %}
            <h2>Provozovna: {{ form.vars.value.warehouse.name }}</h2>
        {% endif %}
        <table class="table">
            <thead>
            <tr>
                <th>Plasty</th>
                <th>Specifickace</th>
                <th>Barva</th>
                <th>Váha netto [kg]</th>
            </tr>
            </thead>
            <tbody>
            {% set sum_weight = 0 %}
            {% for plastics_name, plastic in plastics %}
                {% set plastics_weight = 0 %}
                {% for specification_name, specification in plastic %}
                    {% set specification_weight = 0 %}
                    {% for color_name, weight in specification %}
                        <tr>
                            <td>{{ plastics_name }}</td>
                            <td>{{ specification_name }}</td>
                            <td>{{ color_name }}</td>
                            <td>{{ weight }}</td>
                            {% set specification_weight = specification_weight + weight %}
                        </tr>
                    {% endfor %}
                    <tr class="sum specification">
                        <td></td>
                        <td>Celkem : {{ specification_name }}</td>
                        <td></td>
                        <td>{{ specification_weight }}</td>
                    </tr>
                    {% set plastics_weight = plastics_weight + specification_weight %}
                {% endfor %}
                <tr class="sum plastics">
                    <td>Celkem : {{ plastics_name }}</td>
                    <td></td>
                    <td></td>
                    <td>{{ plastics_weight }}</td>
                </tr>
                {% set sum_weight = plastics_weight + sum_weight %}
            {% endfor %}
            <tr class="sum all">
                <td>Celkem</td>
                <td></td>
                <td></td>
                <td>{{ sum_weight }}</td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}