{% extends 'AppBundle:Material:state_base.html.twig' %}


{% block material %}
    <h1>Form: {{ form.vars.value.form.titleEng }}</h1>
    {% if form.vars.value.warehouse %}
        <h2>Warehouse: {{ form.vars.value.warehouse.name }}</h2>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Plastics</th>
                <th>Specification</th>
                <th>Color</th>
                <th>Weight netto [kg]</th>
            </tr>
        </thead>
        <tbody>
        {% set sum_weight = 0 %}
        {% for plastics_name, plastic in plastics %}
            {% set plastics_weight = 0 %}
            {% for specification_name, specification in plastic %}
                {% set specification_weight = 0 %}
                {% for color_name, weight in specification %}
                    <tr>
                        <td>{{ plastics_name }}</td>
                        <td>{{ specification_name }}</td>
                        <td>{{ color_name }}</td>
                        <td>{{ weight }}</td>
                        {% set specification_weight = specification_weight + weight %}
                    </tr>
                {% endfor %}
                <tr class="sum specification">
                    <td></td>
                    <td>Celkem : {{ specification_name }}</td>
                    <td></td>
                    <td>{{ specification_weight }}</td>
                </tr>
                {% set plastics_weight = plastics_weight + specification_weight %}
            {% endfor %}
            <tr class="sum plastics">
                <td>Celkem : {{ plastics_name }}</td>
                <td></td>
                <td></td>
                <td>{{ plastics_weight }}</td>
            </tr>
            {% set sum_weight = plastics_weight + sum_weight %}
        {% endfor %}
        <tr class="sum all">
            <td></td>
            <td></td>
            <td></td>
            <td>{{ sum_weight }}</td>
        </tr>
        </tbody>

    </table>
{% endblock %}