{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with [ 'AppBundle:Form:form_inline.html.twig'] %}

{% block title %}Úprava materiálu{% endblock %}

{% block body %}
    <h1>Změnit materiál</h1>
    <ul class="list-inline">
        <li><a href="{{ path("material_detail", { "id" : form.vars.value.id }) }}">Zpět na detail materiálu</a></li>
    </ul>
    {{ form_start(form, {'attr': { 'class' : 'row'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.id, { 'attr' : { 'readonly' : 'readonly' , 'class' : 'id'}}) }}
    {{ form_row(form.plastics, { 'attr' : { 'readonly' : 'readonly', 'class' : 'plastics' }}) }}
    {{ form_row(form.specification, { 'attr' : { 'readonly' : 'readonly', 'class' : 'specification' }}) }}
    {{ form_row(form.specification_eng, { 'attr' : { 'readonly' : 'readonly', 'class' : 'specification_eng' }}) }}
    {{ form_row(form.color) }}
    {{ form_row(form.color_eng) }}
    {{ form_row(form.finalForm) }}
    {{ form_row(form.warehouse, { 'attr' : { 'disabled' : 'disabled' }}) }}
    <div class="parts">
    {{ form_label(form.parts) }}
    {{ form_errors(form.parts) }}
    {% for form_part in form.parts %}
        {% form_theme form_part with ['AppBundle:Form:part_form_row.html.twig'] %}
        <div class="part row">
            {{ form_errors(form_part) }}
            {{ form_row(form_part.id, { 'attr' : { 'readonly' : 'readonly', 'class' : 'id'}}) }}
            {{ form_row(form_part.number, { 'attr' : { 'readonly' : 'readonly' }}) }}
            {{ form_row(form_part.weightNetto, { 'attr' : { 'readonly' : 'readonly' }}) }}
            {{ form_row(form_part.weightBrutto) }}
            {{ form_row(form_part.currentForm, { 'attr' : { 'disabled' : 'disabled' }}) }}
            {{ form_row(form_part.wayOfStoring) }}
            {{ form_row(form_part.state) }}
            {{ form_row(form_part.note) }}
        </div>
    {% endfor %}
    </div>
    {% do form.parts.setRendered %}
    {% do form.currentForm.setRendered %}
    <div class="col-md-offset-10 col-md-2 col-sm-offset-8 col-sm-4">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}