{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form with [ 'AppBundle:Form:form_row.html.twig'] %}

<div class="col-md-6 col-md-offset-3">
    <h1>Změna údajů uživatele</h1>
    <ul class="list-unstyled">
        <li>
            <a href="{{  path('fos_user_profile_show') }}">Zpět na profil</a>
        </li>
    </ul>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.current_password) }}
     <ul class="list-unstyled">
         <li>
             <a href="{{ path('fos_user_change_password') }}">Změnit heslo</a>
         </li>
     </ul>
    <div class="pull-right">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary"/>
    </div>
{{ form_end(form) }}
</div>
