{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-6 col-md-offset-3">
    <h1>Profil uživatele</h1>
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Editovat profil</a>
        </li>
    </ul>
    <dl class="dl-horizontal">
        <dt>{{ 'profile.show.name'|trans }}</dt>
        <dd>{{ user.name }}</dd>
        <dt>{{ 'profile.show.username'|trans }}</dt>
        <dd>{{ user.username }}</dd>
        <dt>{{ 'profile.show.email'|trans }}</dt>
        <dd>{{ user.email }}</dd>
        <dt>{{ 'profile.show.phoneNumber'|trans }}</dt>
        <dd>{{ user.phoneNumber }}</dd>
        <dt>Role</dt>
        {% for role in user.roles%}
            {% set roleString = 'role.' ~ role %}
            <dd>{{  roleString |trans }}</dd>
        {% endfor %}
    </dl>
</div>