<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | BP-WIS </title>
        {% stylesheets
        '@AppBundle/Resources/public/css/bootstrap.min.css'
        '@AppBundle/Resources/public/css/main.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="container-fluid">
            <header class="page-header row">
                {% if app.user %}
                    {% trans_default_domain 'FOSUserBundle' %}
                    <div class="row user">
                        <ul class="col-md-4 col-md-offset-5 list-inline">
                            <li class="pull-right"><a href="{{ path('fos_user_security_logout') }}">Odhlásit se</a></li>
                            <li class="pull-right"><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                            <li class="pull-right">{{ 'layout.logged_in_as' | trans({'%email%': app.user.email }) }}</li>
                        </ul>
                    </div>
                {% endif %}

                <div id="logo" class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('bundles/app/img/logo.png') }}" alt="Logo stranky" class="img-responsive">
                    </a>
                </div>

            </header>
            <div class="row content">
            {% block message %}
                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="flash notice alert alert-success">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="flash error alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endblock %}

             {% block body %}{% endblock %}

            </div>
            <div class="footer">
                {% block footer %}
                    <ul class="list-inline com-md-2 com-md-offset-5 col-sm-2 col-sm-offset-5">
                        <li><a href="{{ path('user_show') }}">Kontakty</a></li>
                    </ul>
                {% endblock %}
            </div>
            {% block javascript %}
                {% javascripts
                '@AppBundle/Resources/public/js/jquery-2.2.0.min.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
        </div>
    </body>

</html>