{% extends 'AppBundle::base.html.twig' %}

{% block title %}Úvodní stránka{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Přeprava</h2>
                    </div>
                    <dl class="panel-body">
                        <dt>Návoz</dt>
                        <dd>
                            <ul class="list-group">
                                {% if is_granted('ROLE_WAREHOUSEMAN') %}
                                    <li class="list-group-item"><a href="{{ path('bringing_new') }}">Nový návoz</a></li>
                                {% endif %}
                                 <li class="list-group-item"><a href="{{ path('bringing_show') }}">Přehled návozů</a></li>
                            </ul>
                        </dd>
                        <dt>Mezistředisková přeprava</dt>
                        <dd>
                            <ul class="list-group">
                                {% if is_granted('ROLE_WAREHOUSEMAN') %}
                                    <li class="list-group-item"><a href="{{ path('internal_new') }}">Nová mezistředisková přeprava</a></li>
                                {% endif %}
                                <li class="list-group-item"><a href="{{ path('internal_show') }}">Přehled mezistřediskových přeprav</a></li>
                            </ul>
                        </dd>
                        <dt>Odvoz</dt>
                        <dd>
                            <ul class="list-group">
                                {% if is_granted('ROLE_WAREHOUSEMAN') %}
                                    <li class="list-group-item"><a href="{{ path('transfer_new') }}">Nový odvoz</a></li>
                                {% endif %}
                                <li class="list-group-item"><a href="{{ path('transfer_show') }}">Přehled odvozů</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-5  col-sm-6">
                <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Zpracování</h2>
                </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% if is_granted('ROLE_WAREHOUSEMAN') %}
                                <li class="list-group-item"><a href="{{ path('processing_new') }}">Nové zpracování</a></li>
                            {% endif %}
                            <li class="list-group-item"><a href="{{ path('processing_show') }}">Přehled zpracování</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if is_granted('ROLE_EMPLOYEE') %}
            <div class="col-md-5 col-md-offset-1  col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Přehled materiálu</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{{ path('material_show') }}">Stav skladů</a></li>
                            <li class="list-group-item"><a href="{{ path('state') }}">Celkový stav materiálu</a></li>
                            <li class="list-group-item"><a href="{{ path('material_report') }}">Výkaz materiálu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if is_granted('ROLE_EMPLOYEE') %}
            <div  class="col-md-5  col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Správa údajů</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{{ path('partner_show') }}">Správa partnerů</a></li>
                            <li class="list-group-item"><a href="{{ path('warehouse_show') }}">Správa provozoven</a></li>
                            <li class="list-group-item"><a href="{{ path('form_show') }}">Správa podob</a></li>
                            <li class="list-group-item"><a href="{{ path('storing_show') }}">Správa způsobů uskladnění</a></li>
                            <li class="list-group-item"><a href="{{ path('processing_way_show') }}">Správa způsobů zpracování</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="list-group-item"><a href="{{ path('user_show') }}">Správa uživatelů</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}