{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with [ 'AppBundle:Form:form_row.html.twig'] %}

{% block title %}Nová provozovna{% endblock %}

{% block body %}
    {% block header %}<h1>Nová provozovna</h1>{% endblock %}
    <ul class="list-inline">
        <li><a href="{{ path('warehouse_show') }}">Zpět na výpis provozoven</a></li>
    </ul>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% block warehouse_id %}
        {{ form_row(form.id) }}
    {% endblock %}
    {{ form_row(form.name) }}
    {{ form_label(form.address) }}
    {{ form_errors(form.address) }}
    {% set form_address = form.address %}
    {% form_theme form_address with [ 'AppBundle:Form:form_inline.html.twig'] %}
    <div class="form-inline row">
        {{ form_row(form_address.town) }}
        {{ form_row(form_address.psc) }}
        {{ form_row(form_address.street) }}
        {{ form_row(form_address.cp) }}
    </div>
    {{ form_row(form.waysOfProcessing) }}
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
