{% extends 'AppBundle::base.html.twig' %}

{% block title %}Přehled provozoven{% endblock %}

{% block body %}
    <div class="container">
    <h1>Provozovny</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="list-inline">
            <li><a href="{{ path('warehouse_new') }}">Nová provozovna</a></li>
        </ul>
    {% endif %}
    {% for warehouse in warehouses %}
        <dl class="dl-horizontal list">
            <dt>ID</dt>
            <dd>{{ warehouse.id }}</dd>
            <dt>Název</dt>
            <dd>{{ warehouse.name }}</dd>
            <dt>Adresa</dt>
            <dd class="address">
                <dl class="dl-horizontal">
                    <dt>Město</dt>
                    <dd>{{ warehouse.address.town }}</dd>
                    <dt>PSČ</dt>
                    <dd>{{ warehouse.address.psc }}</dd>
                    <dt>Ulice</dt>
                    <dd>{{ warehouse.address.street }}</dd>
                    <dt>ČP</dt>
                    <dd>{{ warehouse.address.cp }}</dd>
                </dl>
            </dd>
            <dt>Způsoby zpracování</dt>
            {% for processing in warehouse.waysOfProcessing %}
                <dd>{{ processing.title }}</dd>
            {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <dd>
                <ul class="list-inline">
                {% if warehouse.isActive %}
                    <li><a href='{{ path('warehouse_remove', { 'id' : warehouse.id}) }}'>Deaktivovat</a></li>
                {% else %}
                    <li><a href='{{ path('warehouse_activate', { 'id' : warehouse.id}) }}'>Aktivovat</a></li>
                {% endif %}
                <li><a href='{{ path('warehouse_update', { 'id' : warehouse.id}) }}'>Upravit</a></li>
                </ul>
            </dd>
        {% endif %}

        </dl>
    {% endfor %}
    </div>
{% endblock %}