{% extends 'AppBundle:Warehouse:new.html.twig' %}

{% block title %}Úprava provozovny{% endblock %}

{% block header %}<h1>Upravit informace o provozovně</h1>{% endblock %}
{% block warehouse_id %}
    <div class="form-group">
        <label class="control-label">ID</label>
        <input type="number" readonly="readonly" value="{{ form.vars.value.id }}" class="form-control">
    </div>
{% endblock %}