{% extends 'AppBundle::base.html.twig' %}

{% block title %}Detail zpracování{% endblock %}

{% block body %}
    <h1>Zpracování</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID zpracování</th>
                <th>Datum zpracování</th>
                <th>Provozovna</th>
                <th>Způsob zpracování</th>
                <th>Zpracoval</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ processing.id }}</td>
                <td>{{ processing.date | date(datetime) }}</td>
                <td>{{ processing.warehouse.id}} - {{ processing.warehouse.name}}</td>
                <td>{{ processing.wayOfProcessing.title }}</td>
                <td>{{ processing.processor.name }}</td>
            </tr>
        </tbody>
        </thead>
    </table>
    <div>
        <h2>Vstupy</h2>
        {% set prev = null %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Plasty</th>
                    <th>Specifikace</th>
                    <th>Barva</th>
                    <th>Finální podoba</th>
                </tr>
                </thead>
                </tbody>
                    {% for input in processing.inputs %}
                        {% if prev == null or prev != input.part.material.id %}
                            {% if prev != null %}
                                </table>
                                </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>
                                 {% if is_granted('ROLE_EMPLOYEE') %}
                                    <a href="{{ path('material_detail', { 'id' :  input.part.material.id }) }}">{{ input.part.material.id }}</a>
                                 {% else %}
                                    {{ input.part.material.id }}
                                 {% endif %}
                                </td>
                                <td>{{ input.part.material.plastics }}</td>
                                <td>{{ input.part.material.specification }}</td>
                                <td>{{ input.part.material.color }}</td>
                                <td>{{ input.part.material.finalForm.title }}</td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    {{ include('AppBundle:Processing:input.html.twig', { 'parts' : null}) }}
                            {% set prev = input.part.material.id %}
                        {% endif %}
                                  <tr>
                                    {{ include('AppBundle:MaterialPart:detail.html.twig', { 'part' : input.part}) }}
                                      <td>{{ input.price }}</td>
                                      <td>{{ input.note }}</td>
                                  </tr>
                    {% endfor %}
                    </table>
                    </td>
                    </tr>
                 </tbody>
            </table>
    </div>
      {#  {{ include('UiBundle:MaterialPart:show.html.twig', { 'parts' : processing.inputs}) }} #}
    <div>
            <h2>Výstupy</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Plasty</th>
                    <th>Specifikace</th>
                    <th>Barva</th>
                    <th>Finální podoba</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {% if is_granted('ROLE_EMPLOYEE') %}
                        <a href="{{ path('material_detail', { 'id' : processing.outputs.first.material.id }) }}">{{ processing.outputs.first.material.id }}</a>
                        {% else %}
                            {{ processing.outputs.first.material.id  }}
                        {% endif %}
                    </td>
                    <td>{{ processing.outputs.first.material.plastics }}</td>
                    <td>{{ processing.outputs.first.material.specification }}</td>
                    <td>{{ processing.outputs.first.material.color }}</td>
                    <td>{{ processing.outputs.first.material.finalForm.title }}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        {{ include('AppBundle:MaterialPart:show.html.twig', { 'parts' : processing.outputs}) }}
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
{% endblock %}