{% extends ['AppBundle:MaterialPart:show.html.twig'] %}

{% block header %}
    {{ parent() }}
    <th class="col-md-1">Cena zpracování [Kč]</th>
    <th class="col-md-1">Poznámka ke zpracování</th>
{% endblock %}

{% block content %}
    {% if part.part.material.id == materialId %}
        {{ include('AppBundle:MaterialPart:detail.html.twig', { 'part' : part.part}) }}
        <td>{{ part.price }}</td>
        <td>{{ part.note }}</td>
    {% else %}
        <td colspan="10">Materiál byl změněn, původní materiál: <a href="{{ path('material_detail', { 'id' : part.part.material.id }) }}">{{ part.part.material.id }}</a></td>
    {% endif %}
{% endblock %}