{% extends 'AppBundle:Processing:new.html.twig' %}

{% block materials %}
    <div>
        <div id='materials_to_process'>
            {% for form_material in form.materials %}
                <div id="{{ 'material_' ~ form_material.vars.value.id }}" class="material">
                    {{ include('AppBundle:Material:choose.html.twig', { 'form' : form_material, 'name' : form.vars.name ~ '[' ~ form.materials.vars.name ~ ']'}) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}