{% extends 'AppBundle::base.html.twig' %}
{% form_theme form_processing with ['AppBundle:Form:form_inline.html.twig'] %}
{% import 'AppBundle:MaterialPart:processing_output.html.twig' as output %}

{% macro prototype(form_input) %}
    {% form_theme form_input with [ 'AppBundle:Form:part_form_row.html.twig'] %}
    {{ form_errors(form_input) }}
    {{ form_row(form_input.price) }}
    {{ form_row(form_input.note) }}
{% endmacro %}


{% macro row(label,  value, classes) %}
    <div class="col-md-2 col-sm-4">
        <label>{{ label }}</label>
        <input type="text" value="{{ value }}" readonly="readonly" class="{{ classes ~ ' form-control' }}">
    </div>
{% endmacro %}

{% macro material(material) %}
    <div class="row">
        {{ _self.row('ID', material.id, 'id') }}
        {{ _self.row('Plasty', material.plastics, 'plastics') }}
        {{ _self.row('Specifikace', material.specification, 'specification') }}
        {{ _self.row('Barva', material.color, 'color') }}
        {{ _self.row('Finální podoba', material.finalForm.title, 'finalForm') }}
    </div>
{% endmacro %}

{% block title %}Nové zpracování{% endblock %}

{% block body %}
    <h1>Nové zpracování</h1>
    {{ form_start(form_processing, {'attr': { 'class' : 'panel panel-primary row'}}) }}
    <div class="panel-heading">
        <div class="row">
            {{ form_row(form_processing.date) }}
            {{ form_row(form_processing.processor) }}
        </div>
        <div class="row">
            {{ form_row(form_processing.warehouse) }}
            {{ form_row(form_processing.wayOfProcessing) }}
        </div>
    </div>
    {{ form_errors(form_processing) }}

    {{ form_label(form_processing.inputs) }}
    {{ form_errors(form_processing.inputs) }}
    <div id="processing_inputs" class="inputs row" data-prototype="{% filter escape %}{{ _self.prototype(form_processing.inputs.vars.prototype) }}{% endfilter %}">
        {% set materialId = null %}
            {% for form_input in form_processing.inputs %}
                {% set input = form_input.vars.value %}
                {% if input.part.material %}
                    {% if materialId != input.part.material.id %}
                        {% if materialId != null %}
                            </div></div>
                        {% endif %}
                            <div class="material" id="{{ 'material_' ~ input.part.material.id }}">
                                {{ _self.material(input.part.material) }}
                                <div class="parts">
                        {% set materialId = input.part.material.id %}
                    {% endif %}
                {% endif %}
                <div class="part" id="{{ 'part_' ~ input.part.id }}">
                 {#   {% form_theme form_input with ['UiBundle:Form:part_form_row.html.twig'] %} #}
                    {{ _self.prototype(form_input) }}
                    {{ include('AppBundle:MaterialPart:processing_input.html.twig', { 'form' : form_input, 'name' : form_processing.vars.name ~ '[' ~ form_processing.inputs.vars.name ~ ']', 'form_part' : form_input.part }) }}
                </div>
            {% endfor %}
            {% if form_processing.inputs.count != 0 %}</div></div>{% endif %}
    </div>
    {% do form_processing.inputs.setRendered %}

    {{ form_label(form_processing.outputs) }}
    {{ form_errors(form_processing.outputs) }}
    <div id="processing_outputs" class="outputs row"
         data-prototype="{% filter escape %}{{ include('AppBundle:MaterialPart:processing_output.html.twig', { 'form_part': form_processing.outputs.vars.prototype | e }) }}{% endfilter %}">
        {% set partId = 0 %}
        {% for form_output in form_processing.outputs %}
         {#   {% form_theme form_output with ['UiBundle:Form:part_form_row.html.twig'] %} #}
            {{ output.output_prototype(form_output, partId) }}
            {% set partId = partId + 1 %}
        {% endfor %}
    </div>
    {% do form_processing.outputs.setRendered %}

    <div class="col-md-2 col-md-offset-8 col-sm-4 col-sm-offset-4">
        {{ form_widget(form_processing.choose, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
    </div>
    <div class="col-md-2 col-sm-4">
        {{ form_widget(form_processing.save, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
    </div>
    {{ form_end(form_processing) }}

    {% block materials %}
       <div>
           <div id='materials_to_process'>
           </div>
       </div>
    {% endblock %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/processing.js'
    '@AppBundle/Resources/public/js/processing_inputs.js'
    '@AppBundle/Resources/public/js/processing_outputs.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}