{% extends ['AppBundle:MaterialPart:show.html.twig'] %}

{% block content %}
    {% if part.material.id == materialId %}
        {{ include('AppBundle:MaterialPart:detail.html.twig', { 'part' : part}) }}
    {% else %}
        <td colspan="8">Materiál byl změněn, nový materiál: <a href="{{ path('material_detail', { 'id' : part.material.id }) }}">{{ part.material.id }}</a></td>
    {% endif %}
{% endblock %}