{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with ['AppBundle:Form:form_row.html.twig'] %}

{% block title %}Přehled zpracování{% endblock %}

{% block body %}
    <h1>Přehled zpracování</h1>
    {{ form_start(form, {'attr': { 'class' : 'form-inline row'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.start_date) }}
    {{ form_row(form.end_date) }}
    {{ form_row(form.warehouse) }}
    {{ form_row(form.wayOfProcessing) }}
    <div class="col-md-2 col-sm-4">
        {{ form_widget(form.show, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>
    {{ form_end(form) }}

    {% if app.request.method == 'POST' %}
       <div class="processing">
            <h2 class="text-center">Zpracování</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID zpracování</th>
                        <th>Datum zpracování</th>
                        <th>Provozovna</th>
                        <th>Způsob zpracování</th>
                        <th>Zpracoval</th>
                    </tr>
                </thead>
                <tbody>
                {% if processings.count != 0 %}
                    {% for processing in processings %}
                        <tr>
                            <td><a href="{{ path('processing_detail', { 'id' : processing.id}) }}">{{ processing.id }}</a></td>
                            <td>{{ processing.date | date(datetime) }}</td>
                            <td>{{ processing.warehouse.id}} - {{ processing.warehouse.name}}</td>
                            <td>{{ processing.wayOfProcessing.title }}</td>
                            <td>{{ processing.processor.name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">Žádné takové zpracování neproběhlo</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}