{% extends 'AppBundle::base.html.twig' %}

{% block title %}Přehled způsobů zpracování{% endblock %}

{% block body %}
<div class="container">
    <h1>Způsoby zpracování</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="list-inline">
            <li><a href="{{ path('processing_way_new') }}">Nový způsob</a></li>
        </ul>
    {% endif %}
    {% for processing in waysOfProcessing %}
        <dl class="dl-horizontal list dl-long">
            <dt>Název</dt>
            <dd>{{ processing.title }}</dd>
            <dt>Vstupní formy</dt>
            {% for form in processing.entranceForms %}
                <dd>{{ form.title }}</dd>
            {% endfor %}
            <dt>Výstupní forma</dt>
            <dd>{{ processing.outputForm.title }}</dd>
            <dt>Provozovny, kde lze materiál takto zpracovat</dt>
            {% for warehouse in processing.warehouses %}
                <dd>{{ warehouse.id }} - {{ warehouse.name }}</dd>
            {% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
                <dd>
                    <ul class="list-inline">
                        <li>
                            <a href='{{ path('processing_way_update', { 'title' : processing.title}) }}'>Upravit</a>
                        </li>
                    </ul>
                </dd>
            {% endif %}
        </dl>
    {% endfor %}
    </div>
{% endblock %}
