{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with ['AppBundle:Form:form_row.html.twig'] %}

{% block title %}Nový způsob zpracování{% endblock %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
    {% block header %}<h1>Nový způsob zpracování</h1>{% endblock %}
    <ul class="list-inline">
        <li><a href="{{ path('processing_way_show') }}">Zpět na výpis způsobů zpracování</a></li>
    </ul>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% block way_title %}{{ form_row(form.title) }}{% endblock %}
    {{ form_row(form.entranceForms) }}
    {{ form_row(form.outputForm) }}
    {{ form_row(form.warehouses) }}
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
    </div>
    {{ form_end(form) }}
    <div>
{% endblock %}