{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form with ['AppBundle:Form:form_row.html.twig'] %}

<div class="col-md-6 col-md-offset-3">
    <h1>Registrace nového uživatele</h1>
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('user_show') }}">Zpět na výpis uživatelů</a>
        </li>
    </ul>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
        'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <div class="pull-right">
            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary"/>
        </div>
    {{ form_end(form) }}
</div>