{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Registrace uživatele{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
