{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with ['AppBundle:Form:form_row.html.twig'] %}

{% block title %}Nová podoba{% endblock %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
    {% block header %}<h1>Nová podoba</h1>{% endblock %}
    <ul class="list-inline">
        <li><a href="{{ path('form_show') }}">Zpět na výpis podob</a></li>
    </ul>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% block form_id %}{{ form_row(form.title) }}{% endblock %}
    {{ form_row(form.title_eng) }}
    {{ form_row(form.wayOfStoring) }}
    {{ form_row(form.wayOfProcessing) }}
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
    </div>
    {{ form_end(form) }}
    <div>
{% endblock %}