{% extends 'AppBundle::base.html.twig' %}

{% block title %}Přehled podob{% endblock %}

{% block body %}
    <div class="container">
    <h1>Podoby</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="list-inline">
            <li><a href="{{ path('form_new') }}">Nová podoba</a></li>
        </ul>
    {% endif %}
    {% for form in forms %}
        <dl class="dl-horizontal list">
            <dt>Název</dt>
            <dd>{{ form.title }}</dd>
            <dt>Název anglicky</dt>
            <dd>{{ form.titleEng }}</dd>
            <dt>Způsoby uskladnění</dt>
            {% for storing in form.wayOfStoring %}
                <dd>{{ storing.title }}</dd>
            {% endfor %}
            <dt>Způsoby zpracování</dt>
            {% for processing in form.wayOfProcessing %}
                <dd>{{ processing.title }}</dd>
            {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}
            <dd>
                <ul class="list-inline">
                    <li>
                        <a href='{{ path('form_update', { 'title' : form.title}) }}'>Upravit</a>
                    </li>
                </ul>
            </dd>
        {% endif %}
        </dl>
    {% endfor %}
    <div>
{% endblock %}