{% extends 'AppBundle:MaterialForm:new.html.twig' %}

{% block title %}Úprava podoby{% endblock %}

{% block header %}<h1>Upravit podobu</h1>{% endblock %}

{% block form_id %}
    <div class="form-group">
        <label class="control-label">Název</label>
        <input type="text" readonly="readonly" value="{{ form.vars.value.title }}" class="form-control">
    </div>
{% endblock %}