{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Změna hesla{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
