{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form with [ 'AppBundle:Form:form_row.html.twig'] %}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h1>Změna hesla</h1>
    <ul class="list-unstyled">
        <li>
            <a href="{{  path('fos_user_profile_show') }}">Zpět na profil</a>
        </li>
    </ul>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
    {{ form_widget(form) }}

    <div class="pull-right">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary"/>
    </div>
{{ form_end(form) }}
</div>
