{% form_theme form_part with [ 'AppBundle:Form:part_form_row.html.twig'] %}



{% macro prototype(form_part, businessNumber, materialNumber, partNumber) %}
    <div id={{ "form_bringing_materials_" ~ businessNumber ~ "_materials_" ~ materialNumber ~"_parts_"~ partNumber }} class="part row">

        {{ form_row(form_part.number) }}
        {{ form_row(form_part.weightNetto) }}
        {{ form_row(form_part.weightBrutto) }}
       {# {{ form_row(form_part.currentForm) }} #}
        {{ form_row(form_part.wayOfStoring) }}
        {{ form_row(form_part.state) }}
        {{ form_row(form_part.note) }}
    </div>
{% endmacro %}

{% block _parts_entry_widget %}
    {{ _self.prototype(form_part, 'business_name', 'material_name', 'part_name') }}
{% endblock %}