
{% block content_part %}
    <td>{{ part.id }}</td>
    <td>{{ part.number }}</td>
    <td>{{ part.weightNetto }}</td>
    <td>{{ part.weightBrutto }}</td>
    <td>{{ part.currentForm.title }}</td>
    <td>{{ part.wayOfStoring.title }}</td>
    <td>{{ part.state }}</td>
    <td>{{ part.note }}</td>
{% endblock %}