

{% macro output_prototype(form_part, partId) %}
    {% form_theme form_part with ['AppBundle:Form:part_form_row.html.twig'] %}

    <div id='{{ 'processing_outputs_' ~ partId}}' class="part row">
        {{ form_errors(form_part) }}
        {{ form_row(form_part.number) }}
        {{ form_row(form_part.weightNetto) }}
        {{ form_row(form_part.weightBrutto) }}
        {{ form_row(form_part.wayOfStoring) }}
        {{ form_row(form_part.state) }}
        {{ form_row(form_part.note) }}
    </div>
{% endmacro %}

{% block _parts_entry_widget %}
    {{ _self.output_prototype(form_part, 'output_name') }}
{% endblock %}