{{ form_errors(form_part) }}
{{ form_row(form_part.id, { 'attr' : { 'readonly' : 'readonly', 'class' : 'id'}}) }}
{{ form_row(form_part.number, { 'attr' : { 'readonly' : 'readonly' }}) }}
{{ form_row(form_part.weightNetto, { 'attr' : { 'readonly' : 'readonly' }}) }}
{{ form_row(form_part.weightBrutto, { 'attr' : { 'readonly' : 'readonly' }}) }}
{{ form_row(form_part.currentForm, { 'attr' : { 'disabled' : 'disabled' }}) }}
<input type="hidden" name="{{ name ~ '[' ~ form.vars.name ~ '][' ~ form_part.vars.name ~ '][' ~ form_part.currentForm.vars.name ~ ']' }}" value="{{ form_part.vars.value.currentForm.title }}">
{{ form_row(form_part.wayOfStoring, { 'attr' : { 'disabled' : 'disabled' }}) }}
<input type="hidden" name="{{ name ~ '[' ~ form.vars.name ~ '][' ~ form_part.vars.name ~ '][' ~ form_part.wayOfStoring.vars.name ~ ']' }}" value="{{ form_part.vars.value.wayOfStoring.title }}">
{{ form_row(form_part.state, { 'attr' : { 'disabled' : 'disabled' }}) }}
<input type="hidden" name="{{ name ~ '[' ~ form.vars.name ~ '][' ~ form_part.vars.name ~ '][' ~ form_part.state.vars.name ~ ']' }}" value="{{ form_part.vars.value.state }}">
{{ form_row(form_part.note, { 'attr' : { 'readonly' : 'readonly' }}) }}
