

{% block parts %}
    {% if not table_type is defined %}
        {% set table_type = 'table-bordered' %}
{% endif %}
    <table class="{{ "cast part_table table " ~ table_type }}">
    <thead>
        <tr>
            {% block header %}
                <th class="col-md-1">ID</th>
                <th class="col-md-1">Počet</th>
                <th class="col-md-1">Váha netto [kg]</th>
                <th class="col-md-1">Váha brutto [kg]</th>
                <th class="col-md-1">Současná podoba</th>
                <th class="col-md-1">Způsob uskladnění</th>
                <th class="col-md-1">Stav</th>
                <th class="col-md-1">Poznámka</th>
            {% endblock %}
        </tr>
    </thead>
    <tbody>
        {% for part in parts %}
            <tr>
                {% block content %}
                    {{ include('AppBundle:MaterialPart:detail.html.twig', { 'part' : part}) }}
                {% endblock %}
            </tr>
        {% endfor %}
 {% if parts != null %}
     </tbody>
    </table>
{% endif %}
{% endblock %}

