{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with ['AppBundle:Form:form_row.html.twig'] %}

{% block title %}Výkaz{% endblock %}

{% block body %}
    <h1>Výkaz materiálu</h1>
    {{ form_start(form, {'attr': { 'class' : 'form-inline row'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.start_date) }}
    {{ form_row(form.end_date) }}
    {{ form_row(form.warehouse) }}
    {{ form_row(form.type) }}
    <div class="col-md-2 col-sm-4">
        {{ form_widget(form.show, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>
    {{ form_end(form) }}
    <div>
        {% block material %}
        {% endblock %}
    </div>
{% endblock %}