{% extends 'AppBundle:Material/Report:transport.html.twig' %}

{% block material_header %}
    {{ parent() }}
    <th>Odesílatel</th>
    <th>Datum návozu</th>
    <th>Cena dopravy [Kč]</th>
    <th>Cena materiálu [Kč]</th>
{% endblock %}

{% block material_content %}
    {{ parent() }}
    <td>{{ business.transport.from.name }}</td>
    <td>{{ business.transport.date | date(datetime)}}</td>
    <td>{{ business.transport.pricePerKg }}</td>
    <td>{{ business.materialPrice  }}</td>
{% endblock %}