{% extends 'AppBundle:Material/Report:base.html.twig' %}

{% set columnNumber = 5 %}

{% block material %}

    <table id="material_report_table" class="table table-striped table_material">
        <thead>
        <tr>
        {% block material_header %}
            <th>ID</th>
            <th>Plasty</th>
            <th>Specifikace</th>
            <th>Barva</th>
            <th>Finální podoba</th>
        {% endblock %}
        </tr>
        </thead>
        <tbody>
        {% block material_row %}
            {% for material in materials %}
                <tr>
                {% block material_content %}
                    <td><a href="{{ path("material_detail", { "id" : material.id}) }}">{{ material.id }}</a></td>
                    <td>{{ material.plastics }}</td>
                    <td>{{ material.specification }}</td>
                    <td>{{ material.color }}</td>
                    <td>{{ material.finalForm.title }}</td>
                {% endblock %}
                </tr>
                {% block part %}
                {{ include('AppBundle:MaterialPart/Report:part.html.twig', { 'parts' : material.parts}) }}
                {% endblock %}
            {% endfor %}
        {% endblock %}
        </tbody>
    </table>
{% endblock %}