{% extends 'AppBundle:Material/Report:material.html.twig' %}



{% block material_header %}
    {{ parent() }}
{% endblock %}

{% block material_row %}
    {% set columnNumber = 9 %}
    {% for material in materials %}
        {% for business in material.businesses %}
            <tr>
                {% block material_content %}
                    {{ parent() }}
                {% endblock %}
            </tr>
            {% block part %}
            {{ include('AppBundle:MaterialPart/Report:transport.html.twig', { 'parts' : material.parts}) }}
            {% endblock %}
        {% endfor %}
    {% endfor %}
{% endblock %}


