{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Přihlášení{% endblock %}

{% block fos_user_content %}
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <h2 class="form-signin-heading">Zadejte své přihlašovací údaje</h2>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="username" class="control-label">{{ 'security.login.username_email'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="password" class="control-label">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" class="form-control"/>
                <ul class="list-unstyled">
                    <li><a href="{{ path('fos_user_resetting_request') }}">Zapomněli jste heslo?</a></li>
                </ul>
            </div>
            <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>

    </div>

{% endblock fos_user_content %}