{% extends 'AppBundle::base.html.twig' %}

{% block title %}Přehled způsobů uskladnění{% endblock %}

{% block body %}
<div class="container">
    <h1>Způsoby uskladnění</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="list-inline">
            <li><a href="{{ path('storing_new') }}">Nový způsob uskladnění</a></li>
        </ul>
    {% endif %}
    {% for storing in waysOfStoring %}
        <dl class="dl-horizontal list dl-long">
            <dt>Název</dt>
            <dd>{{ storing.title }}</dd>
            <dt>Podoby, které lze uskladnit</dt>
            {% for form in storing.forms %}
                <dd>{{ form.title }}</dd>
            {% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
                <dd>
                    <ul class="list-inline">
                        <li>
                            <a href='{{ path('storing_update', { 'title' : storing.title}) }}'>Upravit</a>
                        </li>
                    </ul>
                </dd>
            {% endif %}
        </dl>
    {% endfor %}
    </div>
{% endblock %}
