{% extends 'AppBundle:Storing:new.html.twig' %}

{% block title %}Úprava způsobů uskladnění{% endblock %}

{% block header %}<h1>Upravit uskladnění</h1>{% endblock %}

{% block way_title %}
    <div class="form-group">
        <label class="control-label">Název</label>
        <input type="text" readonly="readonly" value="{{ form.vars.value.title }}" class="form-control">
    </div>
{% endblock %}