{% extends "AppBundle::base.html.twig" %}

{% block title %}Title{% endblock %}

{% block body %}

    {% block fos_user_content %}
    {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
{% endblock %}