{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Resetování hesla{% endblock %}

{% block fos_user_content %}
<p class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    {{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
