{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        {{ 'resetting.password_already_requested'|trans }}
    </p>
{% endblock fos_user_content %}
