{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Nové heslo{% endblock %}

{% block fos_user_content %}
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
</div>
{% endblock fos_user_content %}
