{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form with [ 'AppBundle:Form:form_row.html.twig'] %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
   {{ form_errors(form, {'attr': {'class': 'alert alert-danger'}}) }}
    {{ form_row(form.plainPassword.first ) }}
    {{ form_row(form.plainPassword.second ) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}"  class="btn btn-primary btn-block"/>
    </div>
{{ form_end(form) }}
