{% form_theme form_business with [ 'AppBundle:Form:part_form_row.html.twig'] %}

{% macro prototype(form_business, materialNumber) %}
    {% import "AppBundle:Material:bringing.html.twig" as material_prototype %}

    <div id={{ "form_bringing_materials_" ~ materialNumber }} class="business">
        {% for material in form_business.materials %}
            {{ form_errors(material) }}
        {% endfor %}
        {{ form_row(form_business.materialPrice) }}
        <div id={{ "form_bringing_materials_" ~ materialNumber ~ "_materials" }}
             data-prototype="
                {% filter escape %}
                    {{ include('AppBundle:Material:bringing.html.twig', { 'form_material': form_business.materials.vars.prototype }) }}
                {% endfilter %}" >
            {% for material in form_business.materials %}
                {{  material_prototype.prototype(material, materialNumber, materialNumber) }}
            {% endfor %}
        </div>
        {% do form_business.materials.setRendered %}
    </div>
{% endmacro %}

{% block _materials_entry_widget %}
    {{ _self.prototype(form_business, 'business_name') }}
{% endblock %}