
{% block business %}
        {% for material in business.materials %}
           <tr>
              <td>
                {% if is_granted('ROLE_EMPLOYEE') %}
                    <a href="{{ path("material_detail", { "id" : material.id}) }}">{{ material.id }}</a>
                {% else %}
                    {{ material.id }}
                    </td>
               {% endif %}
               <td>{{ business.materialPrice }}</td>
              <td>{{ material.plastics }}</td>
              <td>{{ material.specification }}</td>
              <td>{{ material.color }}</td>
              <td>{{ material.finalForm.title }}</td>
           </tr>
            <tr>
                <td colspan="6">
                {{ include('AppBundle:MaterialPart:show.html.twig', { 'parts': material.parts }) }}
                </td>
            </tr>
        {% endfor %}
{% endblock %}