.alert {
    padding: 0.3em;
}

.btn {
    margin: 0.3em 0em;
}

dl.list dt{
    text-align: left;
}

dl.list{
    border: 1px solid grey;
    padding: 0.3em;
}

.content{
    padding: 0.5em;
}

.user{
    margin: 0em 2em;
}

dl.panel-body{
    margin-bottom: auto;
}

.list-group{
    margin-bottom: auto;
}


dd.address, dd.contact{
    margin-left: 2em;
}

.address dd:nth-child(2), .contact dd:nth-child(2){
    margin-top: 1.4em;
}

.address dd, .contact dd{
    margin-left: 0em;
}

.form-inline .form-control{
    margin-left: 1em;
}

dl.dl-long dd{
    margin-left: 25em;
}

dl.dl-long dt{
    width: 24em;
}

input[type="checkbox"] + label{
    margin-left: 0.3em;
    margin-right: 1em;
}

.parts{
    margin-left: 5em;
    margin-right: 0em;
    clear: both;
}

.part{
    margin-right: 0em;
}

.part ul{
    margin-bottom: 0em;
}

.remove_button{
   padding: 1.5em;
}

.business{
    clear: both;
}

.business > .error_list{
    margin-left: 1em;
    margin-right: 1em;
}


form:after {
    clear: both;
}

form.new{
    border: solid 0.1em #2e6da4;
    border-radius: 0.3em;
}


form.row{
    margin: 0em;
}

form > *{
    padding:0.3em;
}

.outputs, .inputs{
    margin: 0em;
}

.inputs{
    border-bottom: dotted 0.1em #337ab7;
    margin-bottom: 1em;
}

.parts:after{
    clear: both;
}

a {
    color:  #2e6da4;
}

table.part_table .border{
    border-right-width: 0.2em;
}

tr.sum{
    font-weight: bold;
}

tr.plastics{
    background-color: #F0F0F0;
}

tr.specification{
    background-color: #F8F8F8;
}

tr.all{
    border-top: solid black 0.2em;
}

table.processing_table{
    border: solid gray 0.1em;
}



