{% form_theme form_contact with [ 'AppBundle:Form:form_inline.html.twig'] %}

{% macro prototype(form_contact, contactNumber) %}

    <div id="{{ 'business_partner_contacts_' ~ contactNumber }}" class='form-inline row contact'>
        {{ form_row(form_contact.firstname) }}
        {{ form_row(form_contact.lastname) }}
        {{ form_row(form_contact.phoneNumber) }}
        {{ form_row(form_contact.email) }}
    </div>

{% endmacro %}

{% block _contacts_entry_widget %}
    {{ _self.prototype(form_contact, 'contact_name') }}
{% endblock %}