{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with [ 'AppBundle:Form:form_row.html.twig'] %}
{% import 'AppBundle:Partner:contact.html.twig' as form_contact %}

{% block title %}Nový partner{% endblock %}

{% block body %}
    {% block header %}<h1>Nový partner</h1>{% endblock %}
    <ul class="list-inline">
        <li><a href="{{ path('partner_show') }}">Zpět na výpis partnerů</a></li>
    </ul>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% block partner_id %}{% endblock %}
    {{ form_row(form.name) }}
    {{ form_label(form.address) }}
    {{ form_errors(form.address) }}
    {% set form_address = form.address %}
    {% form_theme form_address with [ 'AppBundle:Form:form_inline.html.twig'] %}
    <div class="form-inline row">
        {{ form_row(form_address.town) }}
        {{ form_row(form_address.psc) }}
        {{ form_row(form_address.street) }}
        {{ form_row(form_address.cp) }}
    </div>
    {{ form_row(form.note) }}

    {{ form_label(form.contacts) }}
    {% set contactNumber = 0 %}
    <div id='business_partner_contacts' class="contacts" data-prototype=
         "{% filter escape %}
                {{ include('AppBundle:Partner:contact.html.twig', { 'form_contact': form.contacts.vars.prototype | e}) }}
             {% endfilter %}" >
        {% for contact in form.contacts %}
            {{ form_contact.prototype(contact, contactNumber) }}
            {% set contactNumber = contactNumber + 1 %}
        {% endfor %}
    </div>
    {% do form.contacts.setRendered %}
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/partner.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}