{% extends 'AppBundle::base.html.twig' %}

{% block title %}Přehled partnerů{% endblock %}

{% block body %}
    <div class="container">
    <h1>Obchodní partneři</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="list-inline">
            <li><a href="{{ path('partner_new') }}">Nový partner</a></li>
        </ul>
    {% endif %}
    {% for partner in partners %}
        <dl class="dl-horizontal list">
            <dt>ID</dt>
            <dd>{{ partner.id }}</dd>
            <dt>Název</dt>
            <dd>{{ partner.name }}</dd>
            <dt>Adresa</dt>
            <dd class="address">
                <dl class="dl-horizontal">
                    <dt>Město</dt>
                    <dd>{{ partner.address.town }}</dd>
                    <dt>PSČ</dt>
                    <dd>{{ partner.address.psc }}</dd>
                    <dt>Ulice</dt>
                    <dd>{{ partner.address.street }}</dd>
                    <dt>ČP</dt>
                    <dd>{{ partner.address.cp }}</dd>
                 </dl>
            </dd>
        {% if partner.contacts.count != 0 %}
            <dt>Kontakty</dt>
            <dd class="contact">
             {% for contact in partner.contacts %}
                <dl class="dl-horizontal">
                    <dt>Jméno</dt>
                    <dd>{{ contact.firstname }}</dd>
                    <dt>Příjmení</dt>
                    <dd>{{ contact.lastname }}</dd>
                    <dt>telefoní číslo</dt>
                    <dd>{{ contact.phoneNumber }}</dd>
                    <dt>Email</dt>
                    <dd>{{ contact.email }}</dd>
                </dl>
             {% endfor %}
            </dd>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <dd>
                <ul class="list-inline">
                <li>
                    <a href='{{ path('partner_update', { 'id' : partner.id}) }}'>Upravit</a>
                </li>
                </ul>
            </dd>
        {% endif %}
        </dl>
    {% endfor %}
    </div>
{% endblock %}