{% extends 'AppBundle:Partner:new.html.twig' %}

{% block title %}Úprava partnera{% endblock %}

{% block header %}<h1>Upravit informace o partnerovi</h1>{% endblock %}
{% block partner_id %}
    <div class="form-group">
        <label class="control-label">ID</label>
        <input type="number" readonly="readonly" value="{{ form.vars.value.id }}" class="form-control">
    </div>
{% endblock %}
