{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with [ 'AppBundle:Form:form_row.html.twig'] %}

{% block title %}Změna rolí{% endblock %}

{% block body %}
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h1>Změna rolí</h1>
        <ul class="list-unstyled">
            <li>
                <a href="{{ path('user_show') }}">Zpět na výpis uživatelů</a>
            </li>
        </ul>
        <dl class="dl-horizontal">
            <dt>Jméno</dt>
            <dd>{{ user.name}}</dd>
            <dt>Uživatelské jméno</dt>
            <dd>{{ user.username }}</dd>
        </dl>
        {{ form_start(form) }}
        {{ form_row(form.roles) }}
        <div class="pull-right">
            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}