{% extends 'AppBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Přehled uživatelů{% endblock %}

{% block body %}
    <div class="container">
    <h1>Uživatelé</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="list-inline">
            <li><a href="{{ path('fos_user_registration_register') }}">Nový uživatel</a></li>
        </ul>
    {% endif %}
    {% for user in users %}
        <dl class="dl-horizontal list">
            <dt>Jméno</dt>
            <dd>{{ user.name}}</dd>
            {% if is_granted('ROLE_ADMIN') %}
                <dt>Uživatelské jméno</dt>
                <dd>{{ user.username }}</dd>
            {% endif %}
            <dt>Email</dt>
            <dd>{{ user.email }}</dd>
            <dt>Telefonní číslo</dt>
            <dd>{{ user.phoneNumber }}</dd>
            {% if is_granted('ROLE_ADMIN') %}
                <dt>Role</dt>
                {% for role in user.roles %}
                    {% set roleString = 'role.' ~ role %}
                    <dd>{{  roleString |trans }}</dd>
                {% endfor %}
                <dd><a href="{{ path('user_role', {'username' : user.username}) }}">Změnit role</a></dd>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {% if user.enabled %}
                    <dt>Uživatel je aktivní</dt>
                    <dd><a href='{{ path('user_deactivate', { 'username' : user.username}) }}'>Deaktivovat</a></dd>
                {% else %}
                    <dt>Uživatel je neaktivní</dt>
                    <dd><a href='{{ path('user_activate', { 'username' : user.username}) }}'>Aktivovat</a></dd>
                {% endif %}
            {% endif %}
        </dl>
    {% endfor %}
    </div>
{% endblock %}