
<tr>
    <td colspan="{{ columnNumber }}">
        <table class="part_table table table-bordered">
            <thead>
            <tr>
                {% block part_header %}
                    <th class="col-md-1">ID</th>
                    <th class="col-md-1">Počet</th>
                    <th class="col-md-1">Váha netto [kg]</th>
                    <th class="col-md-1">Váha brutto [kg]</th>
                    <th class="col-md-2">Současná podoba</th>
                    <th class="col-md-2">Způsob uskladnění</th>
                    <th class="col-md-2">Stav</th>
                    <th class="col-md-2">Poznámka</th>
                {% endblock %}
            </tr>
            </thead>
            <tbody>
            {% for part in parts %}
                {% block part_row %}
                    <tr>
                        {% block part_content %}
                            <td >{{ part.id }}</td>
                            <td >{{ part.number }}</td>
                            <td>{{ part.weightNetto }}</td>
                            <td>{{ part.weightBrutto }}</td>
                            <td>{{ part.currentForm.title }}</td>
                            <td>{{ part.wayOfStoring.title }}</td>
                            <td>{{ part.state }}</td>
                            <td>{{ part.note }}</td>
                        {% endblock %}
                    </tr>
                {% endblock %}
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>
