{% extends 'AppBundle:MaterialPart/Report:part.html.twig' %}

{% block part_header %}
    <th class="col-md-1">ID</th>
    <th class="col-md-1">Váha netto [kg]</th>
    <th class="col-md-1">Současná podoba</th>
    <th class="col-md-1 border">Stav</th>
    <th class="col-md-1">Datum vzniku</th>
    <th class="col-md-1 border">Způsob vzniku</th>
    <th class="col-md-1">Datum zpracování</th>
    <th class="col-md-1">Způsob</th>
    <th class="col-md-1">Cena zpracování [Kč]</th>
    <th class="col-md-2">Poznámka ke zpracování</th>
{% endblock %}

{% block part_content %}
    <td >{{ part.id }}</td>
    <td>{{ part.weightNetto }}</td>
    <td>{{ part.currentForm.title }}</td>
    <td class="border">{{ part.state }}</td>
    {% if part.outputOfProcessing %}
        <td>{{ part.outputOfProcessing.date|date(datetime) }}</td>
        <td class="border">{{ part.outputOfProcessing.wayOfProcessing.title }}</td>
    {% else %}
        <td colspan="2" class="border">Část nevznikla zpracováním </td>
    {% endif %}

    {% if part.inputOfProcessing %}
        <td>{{ part.inputOfProcessing.processing.date|date(datetime) }}</td>
        <td>{{ part.inputOfProcessing.processing.wayOfProcessing.title }}</td>
        <td>{{ part.inputOfProcessing.price }}</td>
        <td>{{ part.inputOfProcessing.note }}</td>
    {% else %}
        <td colspan="4">Část nebyla zpracována</td>
    {% endif %}
{% endblock %}