{% extends 'AppBundle:MaterialPart/Report:part.html.twig' %}

{% block part_row %}
    {% if (part.inputOfProcessing == null) or (part.inputOfProcessing and part.inputOfProcessing.processing.date >= business.transport.date) %}
        {% if (part.outputOfProcessing == null) or ( part.outputOfProcessing and part.outputOfProcessing.date <= business.transport.date ) %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{% endblock %}