{% extends 'AppBundle::base.html.twig' %}

{% block title %}Detail přepravy{% endblock %}

{% block body %}
    <h1>Přeprava</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID přepravy</th>
            <th>Datum přepravy</th>
            <th>Odesílatel</th>
            <th>Příjemce</th>
            <th>Cena přepravy [Kč]</th>
            <th>Cena na kg [Kč]</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ transport.id }}</td>
                <td>{{ transport.date | date(datetime)}}</td>
                <td>{{ transport.from.name }}</td>
                <td>{{ transport.to.name }}
                <td>{{ transport.price }}</td>
                <td>{{ transport.pricePerKg }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Přepravované materiály</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nákupní cena [Kč]</th>
            <th>Plasty</th>
            <th>Specifikace</th>
            <th>Barva</th>
            <th>Finální podoba</th>
        </tr>
        </thead>
        <tbody>
        {% for business in transport.materials %}
            {{ include('AppBundle:Business:detail.html.twig', { 'business': business }) }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}