{% extends 'AppBundle:Transport:new.html.twig' %}



{% block material_to_transfer %}
{% endblock %}

{% block buttons %}
{% endblock %}

{% block materials %}
    <div>
        <div id='materials_to_transfer'>
            {% for form_material in form_materials.materials %}
                <div id="{{ 'material_' ~ form_material.vars.value.id }}" class="material">
                    {{ include('AppBundle:Material:choose.html.twig', { 'form' : form_material, 'name' : form_materials.vars.name ~ '[' ~ form_materials.materials.vars.name ~ ']'}) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}