{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with ['AppBundle:Form:form_inline.html.twig'] %}

{% macro prototype(form_business) %}
    {% form_theme form_business with [ 'AppBundle:Form:part_form_row.html.twig'] %}
    {{ form_row(form_business.materialPrice) }}
{% endmacro %}

{% block body %}
    {% block heading %}{% endblock %}
    {{ form_start(form, {'attr': { 'class' : 'panel panel-primary row'}}) }}
    <div class="panel-heading">
        <div class="row">
            {{ form_row(form.date) }}
            {{ form_row(form.price) }}
        </div>
        <div class="row">
            {{ form_row(form.from) }}
            {{ form_row(form.to) }}
        </div>
    </div>
    {{ form_errors(form) }}

    {{ form_label(form.materials) }}
    {{ form_errors(form.materials) }}
    {% block material_to_transfer %}
        {% do form.materials.setRendered %}
        <div id="{{ form.vars.name ~ '_materials' }}" class="businesses row"
             data-prototype="{% filter escape %}
                    {{ _self.prototype(form.materials.vars.prototype) }}
                    {% endfilter %}" >
            {% for form_business in form.materials %}
                {% form_theme form_business with [ 'AppBundle:Form:part_form_row.html.twig'] %}
              {#  {% form_theme form_business with ['UiBundle:Form:form_row.html.twig'] %} #}
                {% for form_material in form_business.materials %}

                    {% form_theme form_material with [ 'AppBundle:Form:part_form_row.html.twig'] %}
                    <div class="material" id="{{ 'material_' ~ form_material.vars.value.id }}">
                        {{ form_errors(form_business) }}
                        {{ form_errors(form_material) }}
                        {{ form_row(form_business.materialPrice) }}
                        {{ include('AppBundle:Material:choose.html.twig',
                        { 'form' : form_material,
                          'name' : form.vars.name ~ '[' ~ form.materials.vars.name ~ '][' ~ form_business.vars.name ~ '][' ~ form_business.materials.vars.name ~ ']'}
                        ) }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endblock %}

    {% block buttons %}
        <div class="col-md-2 col-md-offset-8 col-sm-4 col-sm-offset-4">
            {{ form_widget(form.choose, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
        </div>
        <div class="col-md-2 col-sm-4">
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
        </div>
    {% endblock %}

    {{ form_end(form) }}

    {% block materials %}
        <div>
            <div id='materials_to_transfer'>
            </div>
        </div>
    {% endblock %}

{% endblock %}

