{% extends 'AppBundle:Transport:new.html.twig' %}
{% form_theme form with ['AppBundle:Form:form_inline.html.twig'] %}
{% import 'AppBundle:Business:bringing.html.twig' as business %}

{% block title %}Nový návoz{% endblock %}

{% block heading %}<h1>Nový návoz</h1>{% endblock %}

{% block material_to_transfer %}
    {% set materialNumber = 0 %}
    <div id='form_bringing_materials' class="businesses row"
         data-prototype=
         "{% filter escape %}
                {{ include('AppBundle:Business:bringing.html.twig', { 'form_business': form.materials.vars.prototype | e}) }}
             {% endfilter %}" >
        {% for material in form.materials %}
            {{ business.prototype(material, materialNumber) }}
            {% set materialNumber = materialNumber + 1 %}
        {% endfor %}
    </div>
    {% do form.materials.setRendered %}
{% endblock %}

{% block buttons %}
    <div class="col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-8">
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
    </div>
{% endblock %}

{% block material %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/bringing.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}