{% extends 'AppBundle:Transport:new.html.twig' %}

{% block title %}Nový odvoz{% endblock %}

{% block heading %}
    <h1>Nový odvoz</h1>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/transport.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}