{% extends 'AppBundle::base.html.twig' %}
{% form_theme form with ['AppBundle:Form:form_row.html.twig'] %}

{% block title %}Přehled přepravy{% endblock %}

{% block body %}
    <h1>Přehled přepravy</h1>
    {{ form_start(form, {'attr': { 'class' : 'form-inline row'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.start_date) }}
    {{ form_row(form.end_date) }}
    {{ form_row(form.from) }}
    {{ form_row(form.to) }}
    <div class="col-md-2 col-sm-4">
        {{ form_widget(form.show, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>
    {{ form_end(form) }}

    {% if app.request.method == 'POST' %}
    <div class="transport">
        <h2 class="text-center">Přeprava</h2>
        <table  class="table table-striped">
            <thead>
            <tr>
                <th>ID přepravy</th>
                <th>Datum přepravy</th>
                <th>Odesílatel</th>
                <th>Příjemce</th>
                <th>Cena přepravy [Kč]</th>
            </tr>
            </thead>
            <tbody>
            {% if transports.count != 0 %}
                {% for transport in transports %}
                    <tr>
                        <td><a href="{{ path('transport_detail', { 'id' : transport.id}) }}">{{ transport.id }}</a></td>
                        <td>{{ transport.date | date(datetime)}}</td>
                        <td>{{ transport.from.name }}</td>
                        <td>{{ transport.to.name }}
                        <td>{{ transport.price }}</td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">Žádná přeprava není k dispozici</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
        {% endif %}
{% endblock %}